<%= simple_form_for(msg, html: { class: 'form-horizontal app-form form-editor' }) do |f| %>
  <%= f.error_notification %>

  <h4 class="body1"><%= msg.name.blank? ? "New Record" : msg.name + " Information" %></h4>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :published %>
    <div class="form-group">
      <%= f.label :valid_to, :class => "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.input :valid_to, :label => false, :as => :datetime, :html5 => true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :content, :class => "control-label" %>
      <%= button_tag "Show Editor", :type => "button", :data => { :editor => "show" }, :class => "btn btn-sm btn-show-editor" %>
      <%= f.text_area :content, :class => "content-editor form-control", :rows => 3 %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to "Back", messages_path, :class => "btn btn-sm btn-default btn-cancel" %>
    <%= link_to add_nav[:name], add_nav[:path], :class => "btn btn-primary btn-sm" if !add_nav.nil? %>
    <%= f.button :submit %>
  </div>

<% end %>
